@font-face {
    font-family: shabnam;
    src: url('Shabnam-FD.ttf');
}

*:not(i) {
    font-family: shabnam;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.dropdown-btn {
    /*    padding: 6px 8px 6px 16px;*/
}

.dropdown-btn:hover {
    color: #f1f1f1;
}

.dropdown-container {
    height: 0px;
    overflow: hidden;
    transition: .3s;
}

.hover-bold:hover {
    transform: scale(1.04)
}

.sentticket {
    display: inline-block;
    position: fixed;
    bottom: 46px;
    top: 43px;
    left: 0;
    right: 250px;
    overflow-y: auto;
}

.sentticket > div {
    clear: both;
    width: 100%;
    display: block;
}

.sentticket > div > div {
    padding: 10px;
    background: #fff;
    display: block;
    font-size: 13px;
    margin: 10px 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: justify;
    padding-bottom: 20px !important;
    width: 300px;

}

.me-sent {
    border-radius: 7px 0px 7px 7px;
    position: relative;
    float: right;
}

.admin-sent {
    border-radius: 0px 7px 7px 7px;
    position: relative;
    float: left;
}

.sendticket {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: calc(100% - 250px) !important;
}

@media (max-width: 992px) {
    .sendticket {
        width: 100% !important;
    }

    .sentticket {
        right: 0px;
    }
}

nav {
    background: #37444f !important;
    color: #fff !important;
}

.animate-top {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.bg1 {
    background: #FF9400;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 25px;
    background-color: #1D1F21;
    background-size: cover !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
}

.swiper-slide p {
    width: 70%;
    text-align: justify;
    text-align-last: center;
    line-height: 50px;
    font-size: 3vh;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    border: 1.5px solid #fff;
    background: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.hover-bold:hover {
    font-weight: bold;
    transform: scale(1.1);
}
/*remove arrow in number type input*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}