{% extends 'admin-panel.html' %}
{% load static %}
{% load tags %}
{% block title %}
    <title>لیست تیکت ها</title>
{% endblock %}
{% block style %}
    <style>
        .tabulator-col, .tabulator-cell {
            text-align: center !important;
        }

        .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
            left: 8px !important;
            right: unset;
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">

        <div class="block">
            <h5>لیست تیکت ها</h5>
            <h6>تعداد تمام تیکت ها:{{ tickets.count }}</h6>
            <table class="table-all centered hoverable responsive">
                <tr>
                    <th>نام کاربری</th>
                    <th>تعداد تیکت ها</th>
                    <th></th>
                </tr>
                {% regroup tickets by user as users %}

                {% for user in users %}
                    <tr>
                        <td>{{ user.grouper }}</td>
                        <td>{% counter user.list %}</td>
                        <td class="small text-blue"><a href="ticketing/{{ user.grouper.id }}" class="link">پاسخ</a></td>

                    </tr>
                {% endfor %}


            </table>
        </div>
    </div>
{% endblock %}

