{% extends 'index-layout.html' %}
{% load static %}
{% load tags %}
{% block index_body %}
    <style>
        table tr:last-child {
            border-bottom: none;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: unset !important;
            appearance: unset !important;
            margin: 5px !important;
            opacity: 1 !important;
        }
    </style>
    <section class="padding-large padding-32">
        <div class="card round padding-large justify" style="line-height: 30px">
            <h5 class="bold">سبد خرید</h5>
                <table class="table-all centered responsive">
                    <tr>
                        <th>نام محصول</th>
                        <th>تعداد</th>
                        <th>قیمت (تومان)</th>
{#                        <th>مجموع قیمت (تومان)</th>#}
                        <th> </th>
                    </tr>
                    {% for item in factor %}
                        <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.product.price }}</td>
{#                        <td>30,000</td>#}
                        <td><a href="deletefromfactor/{{ item.id }}"><i class="far fa-trash-alt text-red pointer"></i></a></td>
                        </tr>
                    {% endfor %}

                </table>
{#                <input type="submit" class="blue btn section round transition-2 hover-shadow" value="بروزرسانی سبد">#}
            <br>
            <h5 class="bold">مجموع کل سبد خرید</h5>
            <form action="">
                <table class="table-all centered responsive">
                    <tr>
                        <td>تعداد کل محصولات</td>
                        <td>قیمت کل (تومان)</td>
                    </tr>
                    <tr>
                        <td>{{ factor.count }}</td>
                        <td>{% product_sum factor %}</td>
                    </tr>
                </table>
                <input type="submit" class="blue btn section round transition-2 hover-shadow" value="تایید و پرداخت">
            </form>
        </div>
    </section>
{% endblock %}