{% extends 'products-panel.html' %}
{% load static %}
{% block title %}
    <title>محصولات</title>
{% endblock %}
{% block style %}
    <style>
        img[alt='kalaImage'] {
            max-height: 200px;
        }

        .wtf {
            position: relative;
            transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), transform .2s cubic-bezier(.4, 0, 1, 1);
        }

        .wtf:hover {
            z-index: 1 !important;
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">
        <div class="block">
            <h5>محصولات</h5>
            <div class="block row" style="">
                {% for product in products %}
                    <div class="col m3 s6 padding-small">
                        <div class="card round padding-small white display-container center"
                             style="padding-bottom: 7px !important;">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="kalaImage" class="image round section"
                                     style="width: 300px;height: 300px;">
                            {% else %}
                                <img src="{% static 'imgs/no_image.png' %}" alt="kalaImage" class="image round section"
                                     style="width: 300px;height: 300px;">
                            {% endif %}

                            <p class="text-gray center"> نام محصول: {{ product.name }}</p><br>
                            <p class="text-gray center unselect"> کد محصول: {{ product.code }}</p><br>
                            <p class=" center unselect"> دسته: {{ product.group }}</p><br>
                            <p class="text-pink large center margin-bottom"> {{ product.price }} تومان </p>
                            <a href="/product-show/{{ product.id }}" class="btn green section round transition-2" style="">اطلاعات بیشتر</a>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

