{% extends 'panel.html' %}
{% load static %}
{% load jalali_tags %}
{% block title %}
    <title>تیکتینگ</title>
{% endblock %}
{% block style %}
    <style>
        .sentticket {
            display: inline-block;
            position: fixed;
            bottom: 46px;
            top: 43px;
            left: 0;
            right: 250px;
            overflow-y: auto;
        }

        .sentticket > div {
            clear: both;
            width: 100%;
            display: block;
        }

        .sentticket > div > div {
            padding: 10px;
            background: #fff;
            display: block;
            font-size: 13px;
            margin: 10px 5px;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
            text-align: justify;
            padding-bottom: 20px !important;
            width: 300px;

        }

        .me-sent {
            border-radius: 7px 0px 7px 7px;
            position: relative;
            float: right;
        }

        .admin-sent {
            border-radius: 0px 7px 7px 7px;
            position: relative;
            float: left;
        }

        .sendticket {
            position: fixed !important;
            left: 0 !important;
            bottom: 0 !important;
            width: calc(100% - 250px) !important;
        }

        @media (max-width: 992px) {
            .sendticket {
                width: 100% !important;
            }

            .sentticket {
                right: 0px;
            }
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl display-container" style="margin-right: 250px;margin-top: 50px">
        <div class=" sentticket">
            {% for ticket in tickets %}
                {% if not ticket.answer %}
                    <div>
                        <div class="me-sent">
                            <span class="display-bottomleft padding-small small text-gray">{{ ticket.created_at|to_jalali:'%y/%m/%d - %H:%M:%S' }}</span>
                            <p>{{ ticket.message }}</p>
                        </div>
                    </div>
                {% else %}
                    <div>
                        <div class="admin-sent">
                            <span class="display-bottomleft padding-small small text-gray">{{ ticket.created_at|to_jalali:'%y/%m/%d - %H:%M:%S' }}</span>
                            <p>{{ ticket.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="white padding card-4 sendticket" style="">
            <form action="ticketing" method="post">
                {% csrf_token %}
                <div class="left" style="width: calc(100% - 50px)">
                    <input type="text" class="border-0  block padding-small" style="" required maxlength="500"
                           placeholder="سوال خود را در این قسمت وارد کنید..." name="message">
                </div>
                <label class=" fa fa-location-arrow xlarge text-gray hover-text-orange pointer"
                       style="width: 50px;transform: rotate(45deg);margin-top: -5px;">
                    <input type="submit" class="right hide">
                </label>
            </form>
        </div>
    </div>
{% endblock %}

